/***
 *      --------   ----    ---- ------------   ********        ------------   --------     ********     --------   ------------      -----------     ------    ------------ ------------ 
 *     **********  ****    **** ************  ----------       ************  **********   ----------   **********  ************      ************   ********   ************ ************ 
 *    ----    ---- ----    ---- ----         ************      ----         ----    ---- ************ ----    ---- ----              ---      ---  ----------  ----         ----         
 *    ***      *** ****    **** ************ ---  --  ---      ************ ***      *** ---  --  --- ***      *** ************      ************ ****    **** ****  ****** ************ 
 *    ---   --  -- ----    ---- ------------ ***  **  ***      ------------ ---      --- ***  **  *** ---      --- ------------      -----------  ------------ ----  ------ ------------ 
 *    ****   ** ** ************ ****         ---  --  ---             ***** ****    **** ---  --  --- ****    ****        *****      ****         ************ ****    **** ****         
 *     ------ -- - ------------ ------------ ***  **  ***      ------------  ----------  ***  **  ***  ----------  ------------      ----         ----    ---- ------------ ------------ 
 *      ******* ** ************ ************ ---      ---      ************   ********   ---      ---   ********   ************      ****         ****    **** ************ ************ 
 *                                                                                                                                                                                       
 */
 
 .main-section-1-quem-somos {
    display: inline;
    color: black;
    text-align: center;
    margin: 0 auto;
}
.main-section-1-quem-somos div {
    width: 940px;
}
.main-section-1-quem-somos div h1 {
    font-size: 5rem;
    text-align: center;
    margin: 90px auto 50px auto;
    font-family: 'Roboto', sans-serif;
}
.main-section-1-quem-somos div p {
    font-size: 2rem;
    font-weight: 200;
}
.footer {
    position: absolute;
    bottom: 0;
}




