*  {
    margin:0;
    padding:0;
}
html ,body {
    position: relative;
    height: 100%;
}

button {
    background-color: var(--cor-bg-gold);
    border: 0;
    width: 120px;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
    transform: scale();
    transform: ease-out 1s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.025);
}

/***
 *    ----    ---- ------------    ------    ----------   ------------ -----------  
 *    ****    **** ************   ********   ************ ************ ***********  
 *    ----    ---- ----          ----------  --        -- ----         ----    ---  
 *    ************ ************ ****    **** **        ** ************ *********    
 *    ------------ ------------ ------------ --        -- ------------ ---------    
 *    ****    **** ****         ************ **        ** ****         ****  ****   
 *    ----    ---- ------------ ----    ---- ------------ ------------ ----   ----  
 *    ****    **** ************ ****    **** **********   ************ ****    **** 
 *                                                                                  
 */
 .header {
    background-color: var(--cor-bg-lightBlue);
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: center;/*alinha os itens do display*/
    justify-content: space-between;/*distribui os itens do display em espaços iguais*/
    flex-wrap: nowrap;
    padding:.6% 12% .4% 12%;
}

.menu a {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
}

.menu a:visited, a:link {
    text-decoration: none;
    color: var(--cor-bg-darkGrey);
}

.menu li:first-of-type:after {
    content: "";
    height: 5px;
    transform: translateX(0%);
    width: 0px;
    margin: 0 100% 0 0;
    display: block;
    transition: width .2s ease-in;
}

.menu li:last-of-type:after {
    content: "";
    height: 5px;
    transform: translateX(-100%);
    width: 0px;
    margin: 0 0 0 100%;
    display: block;
    transition: width .2s ease-in;
}

.menu li:hover::after {
    background-color: var(--cor-bg-darkGrey);
    width: 65%;
}



/***
 *      ********      ------    --------  ----    ----      ------------   --------   ----    ---- ------------ ------------ ----    ---- ------------ 
 *     ----------    ********   ********  *****   ****      ************  **********  *****   **** ************ ************ *****   **** ************ 
 *    ************  ----------    ----    ------  ----      ---          ----    ---- ------  ---- ------------ ----         ------  ---- ------------ 
 *    ---  --  --- ****    ****   ****    ************      ***          ***      *** ************     ****     ************ ************     ****     
 *    ***  **  *** ------------   ----    ------------      ---          ---      --- ------------     ----     ------------ ------------     ----     
 *    ---  --  --- ************   ****    ****  ******      ***          ****    **** ****  ******     ****     ****         ****  ******     ****     
 *    ***  **  *** ----    ---- --------  ----   -----      ------------  ----------  ----   -----     ----     ------------ ----   -----     ----     
 *    ---      --- ****    **** ********  ****    ****      ************   ********   ****    ****     ****     ************ ****    ****     ****     
 *                                                                                                                                                     
 */
 .main-page-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    font-size: 3.5rem;
    margin: 2% auto 1.2% auto;
    font-weight: bold;
    color: var(--cor-bg-gold);
}

/*
*                           --SECTION 1--
*/

.main-section-1 {
    display: block;
    flex-wrap: wrap;
    background-image: url(../assents/main-banner.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding: 5% auto 5% auto;
    width: 100%;
    height: 100%;
    min-height: 600px;
    font-size: 2.8rem;
}


.main-section-1:first-of-type::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assents/main-banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    opacity: 0.7;
    filter: brightness(50%);
    background-size: cover;
    
    z-index: -1;
}

.main-section-1 div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto 25% auto 25%;
    padding-top: 5%;

}

.main-section-1 h1 {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
}

.main-section-1 h1::after {
    content: "";
    height: 5px;
    width: 100px;
    margin: 5% auto 2% auto;
    display: block;
    background-color: white;
    transition: width .4s ease;
}

.main-section-1 h1:hover::after {
    width: 95%;
}

.main-section-1 p {
    font-size: 2.8rem;
    text-align: center;
    color: white;
}

/*
*                           --SECTION 2--
*/

.main-section-2 {
    background-color: var(--cor-bg-darkBlue);
    text-align: center;
    width: 100%;
    height: 100%;
}

.main-section-2 div {
    padding: 1% 10% 4% 10%;
}

.main-section-2 p {
    font-size: 2.2rem;
    color: white;
}

/*
*                           --SECTION 3--
*/

.main-section-3 {
    background-color: var(--cor-bg-darkGrey);
    text-align: center;
    width: 100%;
    height: 600px;
}

.card-lobo h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 8% 0% 8% 0%;
}

.card-lobo p {
    font-size: 1.5rem;
}

.card-lobo {
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}

.card-lobo div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 190px;
    height: auto;
    margin: 2% 5% 0% 5%;
}

.card-lobo div figure img {
    border-radius: 75%;
    background-color:  white;
    transform:translate3d()
}

/*
*                           --SECTION 4--
*/

.main-section-4 {
    display: flex;
    margin: 0 auto 50px;
} 
.wolfs {
    text-align: center;
    width: 940px;
    height: 100%;
}

.wolf-profiles {
    display: flex;
    margin-top: 40px;
}

.wolf-profile-picture {
    margin-right: 30px;
    margin-left: 30px;
}

.wolf-profile-picture {
    margin-right: 30px;
    margin-left: 30px;
}

.profile {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.profile div:last-child {
    color: black;
}

.profile div:last-child h3 {
    font-size: 3rem;
    text-align: left;
}

.profile div:last-child h4 {
    font-size: 1.6rem;
    text-align: left;
}

.profile div:last-child p {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 20px;
}

.profile:last-of-type div p, h4, h3 {
    text-align: right;
}

.imagem-lobo {
    box-shadow: -20px -20px 0px var(--cor-bg-darkBlue), -20px -20px 0px 3px var(--cor-bg-darkGrey) ;

}




/***
 *    ------------   --------     --------   ------------ ------------ -----------  
 *    ************  **********   **********  ************ ************ ***********  
 *    ----         ----    ---- ----    ---- ------------ ----         ----    ---  
 *    ************ ***      *** ***      ***     ****     ************ *********    
 *    ------------ ---      --- ---      ---     ----     ------------ ---------    
 *    ****         ****    **** ****    ****     ****     ****         ****  ****   
 *    ----          ----------   ----------      ----     ------------ ----   ----  
 *    ****           ********     ********       ****     ************ ****    **** 
 *                                                                                  
 */



.footer {
    position: absolute;
    background-color: var(--cor-bg-darkGrey);
    width: 100%;
    content: '';
    box-sizing: border-box;
    border-top: 5px solid transparent;
    border-image: linear-gradient(to right, var(--cor-bg-gold), var(--cor-bg-darkBlue));
    border-image-slice: 1;
}

.footer-section {
    width: 100%;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0px;
    color: white;
    font-size: 1.5rem;
}

.information-contact {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.information-icons {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}

.information-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information-section {
    display: flex;
    align-items: center;
}

.btn-footer {

}



